body {
    background-color: beige;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1 {
    text-align: center;
    font-size: 5vh;
    border-bottom: 5px solid black;
    padding-bottom: 3vh;
}
#inventory-img1 {
    width: 9vh;
    float: left;
    margin-left: 1vh;
    margin-top: -2vh;
}
#inventory-img2 {
    width: 9vh;
    float: right;
    margin-right: 1vh;
    margin-top: -2vh;
}

#inventoryControls {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1vh;
    padding-bottom: 5vh;
    animation: fadeInAnimation ease 1s;
}
.inventoryBtn {
    padding: 2vh;
    border-radius: 1vh;
    font-size: large;
    font-weight: 550;
}
#addItemBtn {
    background-color: lightgreen;
}
#addItemBtn:hover {
    background-color: rgb(83, 209, 83);
    cursor: pointer;
}
#addNoItemBtn {
    background-color: aquamarine;
}
#addNoItemBtn:hover {
    background-color: rgb(51, 182, 138);
    cursor: pointer;
}
#removeNoItemBtn {
    background-color: lightcoral;
}
#removeNoItemBtn:hover {
    background-color: rgb(207, 85, 85);
    cursor: pointer;
}
#removeItemBtn {
    background-color: tomato;
}
#removeItemBtn:hover {
    background-color: rgb(192, 58, 34);
    cursor: pointer;
}
#displayInventoryBtn {
    background-color: gold;
}
#displayInventoryBtn:hover {
    background-color: rgb(173, 153, 36);
    cursor: pointer;
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    animation: fadeInAnimation ease 1s;
}
label {
    font-size: x-large;
    animation: fadeInAnimation ease 1s;
}
.cancelBtn, input[type=submit] {
    font-size: large;
    border: none;
    border-radius: 1vh;
    padding: 1vh;
}
input[type=submit] {
    background-color: greenyellow;
    animation: fadeInAnimation ease 1s;
}
input[type=submit]:hover {
    background-color: rgb(131, 192, 39);
    cursor: pointer;
}
.cancelBtn {
    background-color: rgb(255, 107, 107);
    animation: fadeInAnimation ease 1s;
}
.cancelBtn:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}
#forms1, #forms2, #forms3, #forms4 {
    border: 2px solid black;
    border-radius: 1vh;
    padding: 2vh;
    display: none;
}

#stonksTable {
    display: none;
    border-top: 5px solid black;
}
table {
    width: 75%;
    table-layout: fixed;
    margin: auto;
    margin-top: 4vh;
    animation: fadeInAnimation ease 1s;
}
table, th, td {
    border: 5px solid #8d6c25;
    border-collapse: collapse;
}
th {
    font-size: xx-large;
}
td {
    font-size: x-large;
    text-align: center;
    background-color: rgb(238, 238, 203);
}

p {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    font-size: small;
}
